@import '../src/common/colours.scss';

*  {
  
  margin:0px;
  padding:0px ;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

a {
  text-decoration: none;
 }

 body{
  background: $primary-color
 }

 .container{
  margin : 0px 40px;
 }